body {
    background-color: lightblue;
    font-family: "Times New Roman", "serif";
}

h1 {
    background-color: lightseagreen;
}

.font-size-20px {
    font-size: 20px;
}

.center {
    text-align: center;
}